Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

fix(cell-merge): remove more trailing spaces from code blocks
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(*): update iframe URLs in more topics
  en/components/navbar.md
  en/components/themes/sass/animations.md
  en/components/toast.md
  en/components/tooltip.md
  jp/components/navbar.md
  jp/components/themes/sass/animations.md
  jp/components/toast.md
  jp/components/tooltip.md
  kr/components/toast.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

feat(cell-merging): add hGrid and tGrid custom cell merge strategy demos (#6206)
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(column-pinning): add section on pinning columns on both sides (#6267)
  en/components/grids_templates/column-pinning.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.12.24.1
  en/images/dockmanager-edge-docking.jpg
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.12.24.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.12.31.1
  en/images/dockmanager-edge-docking.jpg
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.12.31.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): update Japanese documentation with the latest changes - Badge topic, terminology fixes
  jp/components/badge.md
  jp/components/general/getting-started.md
  jp/components/general/ignite-ui-licensing.md
  jp/components/general/open-source-vs-premium.md
  jp/components/general/wpf-to-angular-guide/create-first-angular-app.md
  jp/components/grid-lite/binding.md
  jp/components/grid-lite/cell-template.md
  jp/components/grid-lite/column-configuration.md
  jp/components/grid-lite/filtering.md
  jp/components/grid-lite/header-template.md
  jp/components/grid-lite/overview.md
  jp/components/grid-lite/theming.md
  jp/components/grids_templates/cell-merging.md
  jp/components/grids_templates/column-pinning.md
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2026.1.7.1
  en/components/inputs/color-editor.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(color-editor): adjust height for iframe
  en/components/inputs/color-editor.md
  jp/components/inputs/color-editor.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2026.1.14.1
  en/components/inputs/color-editor.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2026.1.14.1
  jp/components/inputs/color-editor.md
  jp/images/dockmanager-edge-docking.jpg
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2026.1.21.1
  en/components/inputs/color-editor.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2026.1.21.1
  jp/components/inputs/color-editor.md
  jp/images/dockmanager-edge-docking.jpg
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2026.1.28.1
  en/components/inputs/color-editor.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2026.1.28.1
  jp/components/inputs/color-editor.md
  jp/images/dockmanager-edge-docking.jpg
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2026.1.28.2
  en/components/general-changelog-dv.md
  en/components/inputs/color-editor.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(tooltip): fix API links
  en/components/tooltip.md
Due: azure-pipelines/azure-pipelines-en.yml

Document batch editing limitation for Tree Grid Group By (#6348)
  en/components/treegrid/groupby.md
  jp/components/treegrid/groupby.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

feat(grid-lite): Add sections about install and setup to topic
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(grid-lite): Add CUSTOM_ELEMENTS_SCHEMA to the setup
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(*): introducing github actions cd
  .github/workflows/build-en.yml
  .github/workflows/build-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

docs(combo): update keyboard navigation section
  en/components/combo.md
  en/components/simple-combo.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2026.2.4.1
  jp/components/general-changelog-dv.md
  jp/components/inputs/color-editor.md
  jp/images/dockmanager-edge-docking.jpg
Due: azure-pipelines/azure-pipelines-jp-kr.yml

refactor(grid-lite): grid-lite overview rearrangement suggestion
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(grid-lite): compressing list, moving content back to where it belongs
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): applying review comments
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(grid-lite): grid-lite overview rearrangement suggestion (#6363)
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

Apply suggestion from @Copilot
  en/components/general/localization.md
Due: azure-pipelines/azure-pipelines-en.yml
