Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

azure-pipelines/azure-pipelines-en.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Build Job
      pool:
        vmImage: windows-latest
      steps:
      - checkout: self
        clean: true
        fetchTags: true
  ...

azure-pipelines/azure-pipelines-jp-kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Build Job
      pool:
        name: BuildAgentOnPrem
      steps:
      - checkout: self
        clean: true
        fetchTags: true
  ...

Apply suggestion from @Copilot
  en/components/general/localization.md
Due: azure-pipelines/azure-pipelines-en.yml

Fix capitalization typo in column-types.md format options (#6364)
  en/components/grids_templates/column-types.md
Due: azure-pipelines/azure-pipelines-en.yml

Update JA topics for #6361 and #6357, other small fixes
  jp/components/combo-features.md
  jp/components/combo-remote.md
  jp/components/combo-templates.md
  jp/components/combo.md
  jp/components/dialog.md
  jp/components/exporter-csv.md
  jp/components/grids_templates/cascading-combos.md
  jp/components/grids_templates/remote-data-operations.md
  jp/components/hierarchicalgrid/load-on-demand.md
  jp/components/inputs/color-editor.md
  jp/components/navbar.md
  jp/components/overlay.md
  jp/components/simple-combo.md
  jp/components/slider/slider-ticks.md
  jp/components/transaction-classes.md
  jp/components/transaction.md
  jp/components/treegrid/groupby.md
  jp/components/treegrid/load-on-demand.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Update JA topics for #6361 and #6357, other small fixes (#6365)
  jp/components/combo-features.md
  jp/components/combo-remote.md
  jp/components/combo-templates.md
  jp/components/combo.md
  jp/components/dialog.md
  jp/components/exporter-csv.md
  jp/components/grids_templates/cascading-combos.md
  jp/components/grids_templates/remote-data-operations.md
  jp/components/hierarchicalgrid/load-on-demand.md
  jp/components/inputs/color-editor.md
  jp/components/navbar.md
  jp/components/overlay.md
  jp/components/simple-combo.md
  jp/components/slider/slider-ticks.md
  jp/components/transaction-classes.md
  jp/components/transaction.md
  jp/components/treegrid/groupby.md
  jp/components/treegrid/load-on-demand.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(grid-lite): revert excessive changes, fix inaccuracies & adjust content
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
  en/components/grid-lite/sorting.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(localization): revert the localization subheader
  en/components/general/localization.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(localization): Update localiation topic with new functionality and mark old one as legacy. (#6236)
  cspell.json
  en/components/general/localization.md
  en/components/grids_templates/column-types.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(localization): Update Angular version and tweak some descriptions.
  en/components/general/localization.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): update JA topics for #6358, #6363 and #6236
  jp/components/general/localization.md
  jp/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2026.2.11.1
  jp/components/general-changelog-dv.md
  jp/images/dockmanager-edge-docking.jpg
Due: azure-pipelines/azure-pipelines-jp-kr.yml

(docs): update-docs-marketing
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

(docs): add-bullets-h2
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

(docs): title-update
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

(docs): update-title
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(PDF): Adding a section for the new custom font option.
  en/components/toc.yml
  jp/components/exporter-pdf.md
  kr/components/exporter-pdf.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(localization): Update version for legacy localization.
  en/components/general/localization.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(*): tieing up the pipeline connections
  .github/workflows/build-en.yml
  .github/workflows/build-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): fixing trailing whitespace
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

Merge pull request #6369 from IgniteUI/rmirchev/update-grid-lite-marketing-talk
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): Update JA Grid Lite Getting started #6369
  jp/components/grid-lite/overview.md
  jp/components/grids_templates/column-types.md
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): Added 'Noto' to spellchecker valid words list
  cspell.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(cd): disabling azure devops pipelines
  azure-pipelines/azure-pipelines-en.yml
  azure-pipelines/azure-pipelines-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

feat(cd): adding branch switching logic for workflow_dispatch
  .github/workflows/build-en.yml
  .github/workflows/build-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

* feat(cd): introducing github actions cd
  .github/workflows/build-en.yml
  .github/workflows/build-jp-kr.yml
  azure-pipelines/azure-pipelines-en.yml
  azure-pipelines/azure-pipelines-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(cd): changing deploy name to match folder instead of app
  .github/workflows/build-en.yml
  .github/workflows/build-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(cd): fixing artifact name
  .github/workflows/build-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(cd): changing deploy name to match folder instead of app (#6373)
  .github/workflows/build-en.yml
  .github/workflows/build-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

feat(cd): introducing github actions cd
  .github/workflows/build-en.yml
  .github/workflows/build-jp-kr.yml
  azure-pipelines/azure-pipelines-en.yml
  azure-pipelines/azure-pipelines-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Update Angular grid-lite docs for v0.3.x breaking changes (#6354)
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
  en/components/grid-lite/overview.md
  en/components/grid-lite/sorting.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(*): ai topic wip commit 1
  en/components/igniteui-and-ai.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): replace button themes with specific ones
  en/components/grids_templates/filtering.md
  en/components/grids_templates/toolbar.md
Due: azure-pipelines/azure-pipelines-en.yml

chore: replace T in docs
  en/components/themes/sass/component-themes.md
Due: azure-pipelines/azure-pipelines-en.yml

chore: remove trailing space
  en/components/themes/sass/component-themes.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): Update JA docs - breaking changes - #6354
  jp/components/grid-lite/binding.md
  jp/components/grid-lite/cell-template.md
  jp/components/grid-lite/column-configuration.md
  jp/components/grid-lite/filtering.md
  jp/components/grid-lite/header-template.md
  jp/components/grid-lite/overview.md
  jp/components/grid-lite/sorting.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

feat(PDF): Adding a section for the new custom font option. (#6370)
  cspell.json
  en/components/toc.yml
  jp/components/exporter-pdf.md
  kr/components/exporter-pdf.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

feat(docs): add AI-Assisted Development section and links across components
  en/components/general/ai-assisted-development.md
  en/components/general/getting-started.md
  en/components/grid/grid.md
  en/components/hierarchicalgrid/hierarchical-grid.md
  en/components/pivotGrid/pivot-grid.md
  en/components/toc.yml
  en/components/treegrid/tree-grid.md
Due: azure-pipelines/azure-pipelines-en.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en
