Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

azure-pipelines/azure-pipelines-en.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Build Job
      pool:
        name: BuildAgentOnPrem
      steps:
      - checkout: self
        clean: true
        fetchTags: true
  ...

azure-pipelines/azure-pipelines-jp-kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Build Job
      pool:
        name: BuildAgentOnPrem
      steps:
      - checkout: self
        clean: true
        fetchTags: true
  ...

chore(*): add zip task combining build folders
  azure-pipelines/azure-pipelines-en.yml
  azure-pipelines/azure-pipelines-jp-kr.yml
  azure-pipelines/templates/build-tasks.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): change pool to ubutu-latest
  azure-pipelines/azure-pipelines-en.yml
  azure-pipelines/azure-pipelines-jp-kr.yml
  azure-pipelines/templates/build-tasks.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): add customCommand ci production false to install also dev deps
  azure-pipelines/templates/build-tasks.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): replace npm ci with npm install
  azure-pipelines/templates/build-tasks.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Troubleshooting in progress
  azure-pipelines/templates/build-tasks.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Removed silly-level npm logging - no insight from it
  azure-pipelines/templates/build-tasks.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Try gulp max logging
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): update copyGitHooks function
  azure-pipelines/templates/build-tasks.yml
  gulpfile.js
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

feat(*): Add azure pipelines (#5884)
  azure-pipelines/azure-pipelines-en.yml
  azure-pipelines/azure-pipelines-jp-kr.yml
  azure-pipelines/templates/build-tasks.yml
  gulpfile.js
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.7.17.1
  jp/components/bullet-graph.md
  jp/components/charts/chart-overview.md
  jp/components/charts/features/chart-data-filtering.md
  jp/components/charts/features/chart-data-legend.md
  jp/components/charts/features/chart-data-selection.md
  jp/components/charts/features/chart-data-tooltip.md
  jp/components/charts/features/chart-highlight-filter.md
  jp/components/charts/types/bubble-chart.md
  jp/components/charts/types/treemap-chart.md
  jp/components/general-changelog-dv.md
  jp/components/radial-gauge.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.7.17.2
  en/components/charts/features/chart-axis-options.md
  en/components/charts/features/chart-data-selection.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.7.17.1
  en/components/bullet-graph.md
  en/components/charts/chart-overview.md
  en/components/charts/features/chart-data-filtering.md
  en/components/charts/features/chart-data-legend.md
  en/components/charts/features/chart-data-selection.md
  en/components/charts/features/chart-data-tooltip.md
  en/components/charts/features/chart-highlight-filter.md
  en/components/charts/types/treemap-chart.md
  en/components/general-changelog-dv.md
  en/components/linear-gauge.md
  en/components/radial-gauge.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.7.17.1
  kr/components/charts/chart-overview.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.7.17.2
  jp/components/bullet-graph.md
  jp/components/charts/chart-overview.md
  jp/components/charts/features/chart-data-filtering.md
  jp/components/charts/features/chart-data-legend.md
  jp/components/charts/features/chart-data-selection.md
  jp/components/charts/features/chart-data-tooltip.md
  jp/components/charts/features/chart-highlight-filter.md
  jp/components/charts/types/bubble-chart.md
  jp/components/charts/types/treemap-chart.md
  jp/components/general-changelog-dv.md
  jp/components/radial-gauge.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.7.17.2
  kr/components/charts/chart-overview.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Try windows-latest
  azure-pipelines/azure-pipelines-en.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Use comas for explicit yaml string value when calling npm run build
  azure-pipelines/templates/build-tasks.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Go back to ubuntu-latest
  azure-pipelines/azure-pipelines-en.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Use windows-latest because a template bug under Ubuntu
  azure-pipelines/azure-pipelines-en.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Use windows-latest because a template bug under Ubuntu
  azure-pipelines/azure-pipelines-jp-kr.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): use cross-env for setting environment variables
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): use cross-env for setting environment variables (#5892)
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

docs(pivotGrid): added row layout to features
  en/components/pivotGrid/pivot-grid-features.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(pivotGrid): updated sample name route
  en/components/pivotGrid/pivot-grid-features.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(pivotGrid): Add code snippets.
  en/components/pivotGrid/pivot-grid-features.md
Due: azure-pipelines/azure-pipelines-en.yml

Move pivot layout sample at the end of the section. Small tweaks.
  en/components/pivotGrid/pivot-grid-features.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(pivotGrid): added row layout to features (#5877)
  en/components/pivotGrid/pivot-grid-features.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(icon-service): update docs to include references table
  en/components/icon-service.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(icon-service): update topic after review
  en/components/icon-service.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

refactor(icon-service): update the icon refs table
  en/components/icon-service.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(icon-service): revise reference table
  en/components/icon-service.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(icon-service): update docs around default family and icon replacement
  en/components/icon-service.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/icon-service.md
  en/components/icon-service.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): Updating JA for #5877
  jp/components/pivotgrid/pivot-grid-features.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.7.24.2
  en/components/bullet-graph.md
  en/components/charts/features/chart-axis-options.md
  en/components/charts/features/chart-data-selection.md
  en/components/general-changelog-dv.md
  en/components/linear-gauge.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.7.24.1
  en/components/bullet-graph.md
  en/components/charts/features/chart-data-selection.md
  en/components/general-changelog-dv.md
  en/components/linear-gauge.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.7.24.1
  jp/components/bullet-graph.md
  jp/components/charts/chart-overview.md
  jp/components/charts/features/chart-data-filtering.md
  jp/components/charts/features/chart-data-legend.md
  jp/components/charts/features/chart-data-selection.md
  jp/components/charts/features/chart-data-tooltip.md
  jp/components/charts/features/chart-highlight-filter.md
  jp/components/charts/types/bubble-chart.md
  jp/components/charts/types/treemap-chart.md
  jp/components/general-changelog-dv.md
  jp/components/radial-gauge.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.7.24.2
  jp/components/bullet-graph.md
  jp/components/charts/chart-overview.md
  jp/components/charts/features/chart-data-filtering.md
  jp/components/charts/features/chart-data-legend.md
  jp/components/charts/features/chart-data-selection.md
  jp/components/charts/features/chart-data-tooltip.md
  jp/components/charts/features/chart-highlight-filter.md
  jp/components/charts/types/bubble-chart.md
  jp/components/charts/types/treemap-chart.md
  jp/components/general-changelog-dv.md
  jp/components/radial-gauge.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en
