Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

feat(tailwind-styling): update component docs with tailwind styling section
  en/components/combo.md
  en/components/expansion-panel.md
  en/components/icon-button.md
  en/components/icon.md
  en/components/input-group.md
  en/components/list.md
  en/components/month-picker.md
  en/components/navbar.md
  en/components/query-builder.md
  en/components/radio-button.md
  en/components/select.md
  en/components/slider/slider.md
  en/components/snackbar.md
  en/components/splitter.md
  en/components/stepper.md
  en/components/switch.md
  en/components/tabs.md
  en/components/toast.md
  en/components/tooltip.md
  en/components/tree.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.8.20.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(radio): make tailwind sample frame bigger
  en/components/radio-button.md
Due: azure-pipelines/azure-pipelines-en.yml

Updating JA for #6183, minor link fixes
  jp/components/accordion.md
  jp/components/display-density.md
  jp/components/expansion-panel.md
  jp/components/grids_templates/sizing.md
  jp/components/themes/spacing.md
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

refactor(grid): update advanced & excel filtering stylings
  en/components/grids_templates/advanced-filtering.md
  en/components/grids_templates/excel-style-filtering.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(drp): update & refactor with new features
  en/components/date-range-picker.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.8.27.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Update en/components/themes/roundness.md
  en/components/themes/roundness.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(drp): minor edits
  en/components/date-range-picker.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(tooltip): update topic with new properties and behavior changes
  en/components/tooltip.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(grids): add cell merging topic
  en/components/grids_templates/cell-merging.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

feat(cell-merging): add feature integration section, update snippets, add second sample
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(themes): JA - adding Roundness topic #6152
  jp/components/themes/roundness.md
  jp/components/themes/sass/roundness.md
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(themes): JA - adding Roundness topic #6151
  jp/components/themes/roundness.md
  jp/components/themes/sass/roundness.md
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(tooltip): add positions and custom strategy to additional props section
  en/components/tooltip.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(grids): add column double pinning to documentation
  en/components/grids_templates/column-pinning.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(cell-merging): use correct url for samples
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): bump igniteui-docfx-template to 3.9.4 (#6178)
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(excel-filtering): styling text
  en/components/grids_templates/excel-style-filtering.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(cell-merging): limitation section only for IgxGrid
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(cell-merging): modify strategy section for IgxTreeGrid
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(cell-merging): update keywords
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(cell-merging): adjust whitespace
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(drp): updating JA for #6189
  jp/components/date-range-picker.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(tailwind): update tailwind component styling docs
  en/components/avatar.md
  en/components/badge.md
  en/components/button-group.md
  en/components/button.md
  en/components/calendar.md
  en/components/card.md
  en/components/checkbox.md
  en/components/chip.md
  en/components/combo.md
  en/components/expansion-panel.md
  en/components/icon-button.md
  en/components/icon.md
  en/components/input-group.md
  en/components/list.md
  en/components/month-picker.md
  en/components/navbar.md
  en/components/query-builder.md
  en/components/radio-button.md
  en/components/select.md
  en/components/slider/slider.md
  en/components/snackbar.md
  en/components/splitter.md
  en/components/stepper.md
  en/components/switch.md
  en/components/tabbar.md
  en/components/tabs.md
  en/components/toast.md
  en/components/tooltip.md
  en/components/tree.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(tailwind): update tailwind setup base docs
  en/components/themes/misc/tailwind-classes.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.9.17.1
  en/components/general-changelog-dv.md
  en/components/geo-map-display-azure-imagery.md
  en/images/general/AzureMapsImagery.png
Due: azure-pipelines/azure-pipelines-en.yml

docs(grid): JA - update advanced & excel filtering topics - #6190
  jp/components/grids_templates/advanced-filtering.md
  jp/components/grids_templates/excel-style-filtering.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(grid): JA - update advanced & excel filtering topics - #6191
  jp/components/grids_templates/advanced-filtering.md
  jp/components/grids_templates/excel-style-filtering.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.9.24.1
  jp/components/general-changelog-dv.md
  jp/components/geo-map-display-azure-imagery.md
  jp/images/general/AzureMapsImagery.png
Due: azure-pipelines/azure-pipelines-jp-kr.yml

feat(maps): update table of contents
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

feat(cell-merging): add hGrid and tGrid custom cell merge strategy demos
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(*): fixing sample link
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml
