Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

docs(*): Update JA for #5999
  jp/components/chip.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.1.29.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.1.29.2
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.1.29.2
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): TOC update chart features
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.2.5.2
  en/components/charts/types/data-pie-chart.md
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.2.5.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.2.5.1
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.2.5.2
  jp/components/charts/types/data-pie-chart.md
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

refactor(themes): updating docs
  en/components/themes/sass/component-themes.md
  en/components/themes/sass/roundness.md
  en/components/themes/sass/typography.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): updating docs
  en/components/themes/sass/component-themes.md
  en/components/themes/sass/configuration.md
  en/components/themes/sass/global-themes.md
  en/components/themes/sass/presets/bootstrap.md
  en/components/themes/sass/presets/fluent.md
  en/components/themes/sass/presets/indigo.md
  en/components/themes/sass/presets/material.md
  en/components/themes/sass/roundness.md
  en/components/themes/sass/typography.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): updating docs
  en/components/themes/sass/global-themes.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): updating docs
  en/components/themes/sass/presets/bootstrap.md
  en/components/themes/sass/presets/fluent.md
  en/components/themes/sass/presets/indigo.md
  en/components/themes/sass/presets/material.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): updating docs
  .DS_Store
  en/.DS_Store
  en/components/.DS_Store
  en/components/themes.md
  en/components/themes/.DS_Store
  en/components/themes/index.md
  en/components/themes/palettes.md
  en/components/themes/sass/.DS_Store
  en/components/themes/sass/configuration.md
  en/components/themes/sass/palettes.md
  en/components/themes/sass/schemas.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

refactor(*): additional changes to the docs
  en/components/display-density.md
  en/components/themes/index.md
  en/components/themes/palettes.md
  en/components/themes/sass/elevations.md
  en/components/themes/sass/palettes.md
  en/components/themes/sass/schemas.md
  en/components/themes/sass/typography.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): updating docs
  en/components/badge.md
  en/components/themes/sass/configuration.md
  en/components/themes/sass/schemas.md
  en/components/themes/sass/typography.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(theming): fix some more items
  en/components/themes/misc/printing-styles.md
  en/components/themes/sass/component-themes.md
  en/components/themes/sass/global-themes.md
  en/components/themes/sass/presets/material.md
  en/components/themes/sass/roundness.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): updating docs
  en/components/action-strip.md
  en/components/autocomplete.md
  en/components/badge.md
  en/components/button-group.md
  en/components/button.md
  en/components/checkbox.md
  en/components/chip.md
  en/components/circular-progress.md
  en/components/dialog.md
  en/components/divider.md
  en/components/drop-down-virtual.md
  en/components/drop-down.md
  en/components/for-of.md
  en/components/icon-button.md
  en/components/icon.md
  en/components/input-group.md
  en/components/label-input.md
  en/components/linear-progress.md
  en/components/navbar.md
  en/components/navdrawer.md
  en/components/query-builder.md
  en/components/radio-button.md
  en/components/ripple.md
  en/components/select.md
  en/components/slider/slider.md
  en/components/switch.md
  en/components/texthighlight.md
  en/components/themes/sass/presets/bootstrap.md
  en/components/themes/sass/presets/fluent.md
  en/components/themes/sass/presets/indigo.md
  en/components/themes/sass/presets/material.md
  en/components/themes/sass/typography.md
  en/components/tooltip.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): build error fix
  en/components/button.md
  en/components/checkbox.md
  en/components/select.md
  en/components/slider/slider.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): make text more readable
  en/components/action-strip.md
  en/components/button-group.md
  en/components/button.md
  en/components/chip.md
  en/components/circular-progress.md
  en/components/drop-down.md
  en/components/icon.md
  en/components/label-input.md
  en/components/linear-progress.md
  en/components/navbar.md
  en/components/navdrawer.md
  en/components/query-builder.md
  en/components/radio-button.md
  en/components/ripple.md
  en/components/select.md
  en/components/slider/slider.md
  en/components/switch.md
  en/components/texthighlight.md
  en/components/themes/sass/presets/bootstrap.md
  en/components/themes/sass/presets/fluent.md
  en/components/themes/sass/presets/indigo.md
  en/components/themes/sass/presets/material.md
  en/components/themes/sass/typography.md
  en/components/tooltip.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): updating components doc
  en/components/accordion.md
  en/components/avatar.md
  en/components/banner.md
  en/components/calendar.md
  en/components/card.md
  en/components/date-time-editor.md
  en/components/expansion-panel.md
  en/components/grids_templates/column-moving.md
  en/components/month-picker.md
  en/components/navbar.md
  en/components/query-builder.md
  en/components/snackbar.md
  en/components/splitter.md
  en/components/stepper.md
  en/components/tabbar.md
  en/components/tabs.md
  en/components/toast.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): updating grid styling docs
  en/components/button.md
  en/components/checkbox.md
  en/components/combo.md
  en/components/date-picker.md
  en/components/date-range-picker.md
  en/components/dialog.md
  en/components/grid/groupby.md
  en/components/grids_templates/advanced-filtering.md
  en/components/grids_templates/cascading-combos.md
  en/components/grids_templates/cell-editing.md
  en/components/grids_templates/cell-selection.md
  en/components/grids_templates/column-hiding.md
  en/components/grids_templates/column-moving.md
  en/components/grids_templates/column-pinning.md
  en/components/grids_templates/column-resizing.md
  en/components/grids_templates/column-selection.md
  en/components/grids_templates/conditional-cell-styling.md
  en/components/grids_templates/excel-style-filtering.md
  en/components/grids_templates/filtering.md
  en/components/grids_templates/multi-column-headers.md
  en/components/grids_templates/multi-row-layout.md
  en/components/grids_templates/paging.md
  en/components/grids_templates/row-editing.md
  en/components/grids_templates/row-pinning.md
  en/components/grids_templates/sorting.md
  en/components/grids_templates/summaries.md
  en/components/grids_templates/toolbar.md
  en/components/grids_templates/validation.md
  en/components/hierarchicalgrid/hierarchical-grid.md
  en/components/navbar.md
  en/components/overlay-styling.md
  en/components/simple-combo.md
  en/components/time-picker.md
  en/components/tree.md
  en/components/treegrid/tree-grid.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(themes): updating styling samples
  en/components/accordion.md
  en/components/avatar.md
  en/components/badge.md
  en/components/button.md
  en/components/date-picker.md
  en/components/date-range-picker.md
  en/components/dialog.md
  en/components/drop-down-virtual.md
  en/components/drop-down.md
  en/components/expansion-panel.md
  en/components/grids_templates/cell-selection.md
  en/components/grids_templates/column-hiding.md
  en/components/grids_templates/column-moving.md
  en/components/grids_templates/paging.md
  en/components/grids_templates/row-editing.md
  en/components/grids_templates/toolbar.md
  en/components/list.md
  en/components/month-picker.md
  en/components/navdrawer.md
  en/components/overlay-styling.md
  en/components/query-builder.md
  en/components/radio-button.md
  en/components/ripple.md
  en/components/select.md
  en/components/stepper.md
  en/components/switch.md
  en/components/tabbar.md
  en/components/tabs.md
  en/components/texthighlight.md
  en/components/time-picker.md
  en/components/toast.md
  en/components/tooltip.md
  en/components/tree.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(gitignore): ignore .DS_Store files
  .DS_Store
  .gitignore
  en/.DS_Store
  en/components/.DS_Store
  en/components/themes/.DS_Store
  en/components/themes/sass/.DS_Store
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): Add info on unique values in pivot.
  en/components/pivotGrid/pivot-grid.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): update topic with nested queries and templating
  en/components/query-builder.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): address PR comments
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/query-builder.md
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): update template snippet and add sample
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): add supporting text for example
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): remove selection and add some changes after re-design
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): add formatter section
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

Merge branch 'thristodorova/update-query-builder-topic' of https://github.com/IgniteUI/igniteui-docfx into thristodorova/update-query-builder-topic
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): add keyboard interaction and dragging sections
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.2.12.1
  jp/components/charts/types/data-pie-chart.md
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.2.12.1
  en/components/charts/types/data-pie-chart.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): add drag and drop section
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml
