Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

chore(getting-started): trim trailing white space
  en/components/general/getting-started.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.12.3.1
  jp/components/charts/features/chart-axis-types.md
  jp/components/charts/features/chart-data-aggregations.md
  jp/components/charts/features/chart-markers.md
  jp/components/charts/features/chart-trendlines.md
  jp/components/charts/features/chart-user-annotations.md
  jp/components/charts/types/area-chart.md
  jp/components/charts/types/radial-chart.md
  jp/components/excel-library-using-workbooks.md
  jp/components/excel-library-working-with-charts.md
  jp/components/general-changelog-dv.md
  jp/components/geo-map-display-azure-imagery.md
  jp/components/geo-map-display-bing-imagery.md
  jp/components/geo-map.md
  jp/components/maps/map-api.md
  jp/images/general/ig-cli-grid.png
  jp/images/general/ig-vite-grid.png
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.12.3.1
  kr/images/open-source-text.png
  kr/images/premium-text.png
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.12.3.1
  en/images/general/ig-cli-grid.png
  en/images/general/ig-vite-grid.png
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): enhance clarity and readability
  en/components/exporter-pdf.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): proper import paths
  en/components/exporter-pdf.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(pdf): add a limitation
  en/components/exporter-pdf.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(Chat): Fixed types api links (#6308)
  en/components/chat.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): JA - add multi entry points guide and update TOC #6304
  jp/components/general/code-splitting-and-multiple-entry-points.md
  jp/components/general/update-guide.md
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(Chat): Update links to IgxChatOptions and IgxChatTemplates in API reference
  jp/components/chat.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): use a table for limitations
  en/components/exporter-pdf.md
Due: azure-pipelines/azure-pipelines-en.yml

Rmirchev/docs-grid-lite-components (#6300)
  en/components/general/open-source-vs-premium.md
  en/components/grid-lite/overview.md
  jp/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): JA - new Chat topic, content enhancements and fixes (#6306)
  jp/components/button.md
  jp/components/chat.md
  jp/components/grid/grid.md
  jp/components/grids_templates/toolbar.md
  jp/components/hierarchicalgrid/hierarchical-grid.md
  jp/components/toc.yml
  jp/components/treegrid/tree-grid.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Update en/components/grids_templates/export-excel.md
  en/components/grids_templates/export-excel.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(*): Tweaked the 12.1.1 version paragraphs. Changed code snippets.
  en/components/grids_templates/export-excel.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): Change app.module to component
  en/components/grids_templates/export-excel.md
Due: azure-pipelines/azure-pipelines-en.yml

Add PDF exporter topic (#6303)
  en/components/exporter-pdf.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

fix(*): Trailing punctuation removed
  en/components/grids_templates/export-excel.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/general/getting-started.md
  en/components/general/getting-started.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): Removed duplicated title
  en/components/grids_templates/export-excel.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): Adding PDF service to grids' export topics. (#6301)
  en/components/grids_templates/export-excel.md
  en/components/grids_templates/toolbar.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): applying review comments
  en/components/general/getting-started.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(licensing): updates for licensing and getting started for OSS changes (#6309)
  en/components/general/getting-started.md
  en/components/general/ignite-ui-licensing.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(chat): adding license for chat doc
  en/components/chat.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(*): Adding chat component
  en/components/general/code-splitting-and-multiple-entry-points.md
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*) remove DisplayDensity from multiple entry points topic
  en/components/general/code-splitting-and-multiple-entry-points.md
  jp/components/general/code-splitting-and-multiple-entry-points.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(*): applying suggestions from code review
  en/components/combo-features.md
  en/components/date-range-picker.md
  en/components/date-time-editor.md
  en/components/dialog.md
  en/components/drop-down.md
  en/components/grids_templates/summaries.md
  en/components/icon-button.md
  en/components/material-icons-extended.md
  en/components/navbar.md
  en/components/query-builder.md
  en/components/rating.md
  en/components/ripple.md
  en/components/snackbar.md
  en/components/time-picker.md
  en/components/toast.md
  en/components/toggle.md
  en/components/transaction-classes.md
  en/components/transaction-how-to-use.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(badge): dot type section
  en/components/badge.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.12.10.1
  jp/components/charts/types/area-chart.md
  jp/components/charts/types/bar-chart.md
  jp/components/charts/types/column-chart.md
  jp/components/charts/types/donut-chart.md
  jp/components/charts/types/line-chart.md
  jp/components/charts/types/sparkline-chart.md
  jp/components/charts/types/treemap-chart.md
  jp/components/geo-map-shape-files-reference.md
  jp/components/interactivity/accessibility-compliance.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.12.11.1
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.12.17.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): Add ignore word
  cspell.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): Fix lint...
  en/components/general/localization.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(cell-merge): fix trailing spaces issue
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(cell-merge): more trailing space issues resolving
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(cell-merge): remove all trailing spaces from cell-merging.md
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml
