Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

docs(query-builder): fix formatter code-snippet
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): add example gifs
  en/components/query-builder.md
  en/images/general/query-builder-drag-and-drop.gif
  en/images/general/query-builder-keyboard-drag-and-drop.gif
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): reworked drag and drop
  en/components/query-builder.md
  en/images/general/query-builder-keyboard-drag-and-drop.gif
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): improved keyboard interaction text
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): update styling code-snippets
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(state-persistence): remove groupBy feature for treeGrid
  en/components/grids_templates/state-persistence.md
  jp/components/grids_templates/state-persistence.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.2.19.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.2.19.1
  en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/query-builder.md
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

Add a note of row island MCH export state
  en/components/grids_templates/export-excel.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): refactor header template section
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): increase height of styling demo
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): fix gif now rendered using img tag
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): update JA files for #6058 and #6046
  jp/components/query-builder.md
  jp/components/toc.yml
  jp/images/general/query-builder-drag-and-drop.gif
  jp/images/general/query-builder-keyboard-drag-and-drop.gif
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): fixing images to match #6060
  jp/components/query-builder.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): Add notes on new state persistance changes. (#5979)
  en/components/grids_templates/state-persistence.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): gif replaced without border
  en/images/general/query-builder-drag-and-drop.gif
  en/images/general/query-builder-keyboard-drag-and-drop.gif
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.2.26.2
  en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.2.26.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): update JA for #5979, Query Builder images.
  jp/components/grids_templates/state-persistence.md
  jp/images/general/query-builder-drag-and-drop.gif
  jp/images/general/query-builder-keyboard-drag-and-drop.gif
Due: azure-pipelines/azure-pipelines-jp-kr.yml

feat(query-builder): update snippets and code views heights
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(QB): Fixed a typo
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): final Query Builder updates
  jp/components/query-builder.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(palette): update contrast color docs
  en/components/themes/misc/angular-material-theming.md
  en/components/themes/palettes.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/themes/misc/angular-material-theming.md
  en/components/themes/misc/angular-material-theming.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/themes/palettes.md
  en/components/themes/palettes.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(palette): update mixin clarification docs
  en/components/themes/palettes.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.3.5.2
  jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.3.5.1
  jp/components/charts/types/data-pie-chart.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.3.5.2
  en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.3.5.1
  en/components/charts/types/data-pie-chart.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): update JA for #6045 and #6057
  jp/components/grids_templates/export-excel.md
  jp/components/pivotgrid/pivot-grid.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

feat(query-builder): add initial draft Query BUilde Model topic
  en/components/query-builder-model.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): add sql sample code view
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.3.12.2
  en/components/general-changelog-dv.md
  en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.3.12.2
  jp/components/general-changelog-dv.md
  jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.3.12.1
  jp/components/charts/types/data-pie-chart.md
  jp/components/general-changelog-dv.md
  jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.3.12.1
  en/components/charts/types/data-pie-chart.md
  en/components/general-changelog-dv.md
  en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-en.yml
