Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

docs(carousel): fix styling theme property map
  en/components/carousel.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(carousel): make one line table entries not collapsible
  en/components/carousel.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(localization): Restructure topic and add missing link and data.
  en/components/general/localization.md
  en/components/grids_templates/column-types.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(carousel): add the correct properties in the property map
  en/components/carousel.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(docfx-template): bump version
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): update template version containing updated assets and scripts paths
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Update en/components/button.md
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.10.29.1
  en/components/charts/features/chart-data-annotations.md
  en/components/excel-library-working-with-charts.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(cell-merging): change sample iframe height
  en/components/grids_templates/cell-merging.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(carousel): updating JA for #6238
  jp/components/carousel.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(styling): localization for new bespoke design system samples text
  jp/components/button.md
  jp/components/calendar.md
  jp/components/card.md
  jp/components/checkbox.md
  jp/components/chip.md
  jp/components/input-group.md
  jp/components/radio-button.md
  jp/components/switch.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(*): fixing typos and punctuation
  .github/workflows/node.js.yml
  DOCUMENTATION_IMPROVEMENTS.md
  cspell.json
  en/components/accordion.md
  en/components/banner.md
  en/components/calendar.md
  en/components/carousel.md
  en/components/charts/features/chart-axis-options.md
  en/components/charts/features/chart-axis-types.md
  en/components/charts/features/chart-data-legend.md
  en/components/general/cli/step-by-step-guide-using-cli.md
  en/components/general/data-analysis.md
  en/components/general/how-to/how-to-customize-theme.md
  en/components/general/how-to/how-to-perform-crud.md
  en/components/general/update-guide.md
  en/components/grid/grid.md
  en/components/grid/master-detail.md
  en/components/grid/selection-based-aggregates.md
  en/components/grids_templates/editing.md
  en/components/grids_templates/keyboard-navigation.md
  en/components/grids_templates/row-drag.md
  en/components/icon-service.md
  en/components/menus/toolbar.md
  en/components/navdrawer.md
  en/components/query-builder-model.md
  en/components/query-builder.md
  en/components/slider/slider.md
  en/components/themes/misc/bootstrap-theming.md
  en/components/themes/misc/printing-styles.md
  en/components/themes/typography.md
  en/components/toggle.md
  en/components/transaction-classes.md
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

build(*): updating action
  .github/workflows/node.js.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.11.5.1
  en/components/charts/features/chart-data-annotations.md
  en/components/excel-library-working-with-charts.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.11.5.1
  jp/components/charts/features/chart-data-annotations.md
  jp/components/excel-library-working-with-sparklines.md
  jp/components/excel-library.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(lint): fixing some markdownlint errors
  .markdownlint.json
  en/components/general/update-guide.md
  en/components/menus/toolbar.md
  en/components/nuget-feed.md
  en/components/tree.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

build(ci): verify before the build
  .github/workflows/node.js.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

feat(tooltip): add show/hide triggers section
  en/components/tooltip.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(localization): Update topic with latest info. Mark as updated.
  en/components/general/localization.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): removing summary files
  DOCUMENTATION_IMPROVEMENTS.md
  MARKDOWN_LINT_SUMMARY.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.11.12.1
  jp/components/charts/features/chart-data-annotations.md
  jp/components/excel-library-working-with-sparklines.md
  jp/components/excel-library.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): add-oss-vs-premium-page
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(styling): update JA files for #6182
  jp/components/avatar.md
  jp/components/badge.md
  jp/components/button-group.md
  jp/components/button.md
  jp/components/calendar.md
  jp/components/card.md
  jp/components/carousel.md
  jp/components/checkbox.md
  jp/components/chip.md
  jp/components/combo.md
  jp/components/dialog.md
  jp/components/drop-down.md
  jp/components/expansion-panel.md
  jp/components/icon-button.md
  jp/components/icon.md
  jp/components/input-group.md
  jp/components/list.md
  jp/components/month-picker.md
  jp/components/navbar.md
  jp/components/query-builder.md
  jp/components/radio-button.md
  jp/components/select.md
  jp/components/slider/slider.md
  jp/components/snackbar.md
  jp/components/splitter.md
  jp/components/stepper.md
  jp/components/switch.md
  jp/components/tabbar.md
  jp/components/tabs.md
  jp/components/toast.md
  jp/components/tooltip.md
  jp/components/tree.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(styling): update JA docs for #6163 and #6237
  jp/components/button.md
  jp/components/calendar.md
  jp/components/card.md
  jp/components/carousel.md
  jp/components/checkbox.md
  jp/components/chip.md
  jp/components/input-group.md
  jp/components/radio-button.md
  jp/components/switch.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(tooltip): remove spaces
  en/components/tooltip.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(grid-lite): adding preliminary grid lite docs
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
  en/components/grid-lite/overview.md
  en/components/grid-lite/sorting.md
  en/components/grid-lite/theming.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

fix(button): update the styling section
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(grid-lite): adding angular specific overview section
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(button): update the styling section
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

lint(*): run auto lint fixes
  en/components/button.md
  en/components/card.md
  en/components/checkbox.md
  en/components/chip.md
  en/components/input-group.md
  en/components/switch.md
Due: azure-pipelines/azure-pipelines-en.yml

lint(input-group): fix further errors
  en/components/input-group.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): JA updates to match EN
  jp/components/card.md
  jp/components/checkbox.md
  jp/components/chip.md
  jp/components/input-group.md
  jp/components/radio-button.md
  jp/components/switch.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(grid-lite): changing docs for new package name
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
  en/components/grid-lite/overview.md
  en/components/grid-lite/sorting.md
  en/components/grid-lite/theming.md
Due: azure-pipelines/azure-pipelines-en.yml
