Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

docs(action-strip): update note with v20 change (#6133)
  en/components/action-strip.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(master-detail): removing no longer valid limitation (#6126)
  en/components/grid/master-detail.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): updating JA for #6117 (#6125)
  jp/components/general/ignite-ui-licensing.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): update JA for #6126 and 6133
  jp/components/action-strip.md
  jp/components/grid/master-detail.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(circular-progress): code snippets for proper diameter/size prop
  en/components/circular-progress.md
  jp/components/circular-progress.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): update JA table of contents
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(dialog): adding missing import for code snippet
  en/components/dialog.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.6.11.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.6.11.1
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(tailwind): create new topic about tailwind integration tokens
  en/components/themes/misc/tailwind-classes.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

docs(tailwind): add a paragraph about presets
  en/components/themes/misc/tailwind-classes.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(button): update button styling
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

refactor(button): reforming the styling text
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.6.18.1
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.6.18.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(icon): add svg color limitations
  en/components/icon.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(icon): fix snippet comments
  en/components/icon.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): updating JA for #6108 and #6120
  jp/components/accordion.md
  jp/components/action-strip.md
  jp/components/avatar.md
  jp/components/badge.md
  jp/components/banner.md
  jp/components/button-group.md
  jp/components/button.md
  jp/components/calendar.md
  jp/components/card.md
  jp/components/checkbox.md
  jp/components/chip.md
  jp/components/circular-progress.md
  jp/components/combo.md
  jp/components/date-picker.md
  jp/components/dialog.md
  jp/components/drop-down.md
  jp/components/expansion-panel.md
  jp/components/icon-button.md
  jp/components/input-group.md
  jp/components/linear-progress.md
  jp/components/list.md
  jp/components/month-picker.md
  jp/components/navbar.md
  jp/components/query-builder.md
  jp/components/radio-button.md
  jp/components/select.md
  jp/components/slider/slider.md
  jp/components/splitter.md
  jp/components/stepper.md
  jp/components/switch.md
  jp/components/tabs.md
  jp/components/time-picker.md
  jp/components/toast.md
  jp/components/tooltip.md
  jp/components/tree.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.6.25.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.6.25.1
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(tailwind): update docs and add a sample
  en/components/themes/misc/tailwind-classes.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(tailwind): update docs for imports
  en/components/themes/misc/tailwind-classes.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(tailwind): improve docs and update sample
  en/components/themes/misc/tailwind-classes.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(CSS): add roundness topic
  en/components/themes/roundness.md
  en/components/themes/sass/roundness.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.7.2.1
  jp/components/excel-library-working-with-charts.md
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.7.2.1
  kr/components/charts/types/column-chart.md
  kr/components/excel-library-working-with-charts.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.7.2.1
  en/components/excel-library-working-with-charts.md
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): updating JA for #6146
  jp/components/icon.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): updating JA for #6145
  jp/components/icon.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.7.9.1
  jp/components/excel-library-working-with-charts.md
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.7.9.1
  en/components/excel-library-working-with-charts.md
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.7.9.1
  kr/components/charts/types/column-chart.md
  kr/components/excel-library-working-with-charts.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml
