Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

azure-pipelines/azure-pipelines-en.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Build Job
      pool:
        vmImage: windows-latest
      steps:
      - checkout: self
        clean: true
        fetchTags: true
  ...

azure-pipelines/azure-pipelines-jp-kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Build Job
      pool:
        name: BuildAgentOnPrem
      steps:
      - checkout: self
        clean: true
        fetchTags: true
  ...

fix: fix lint errors
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): add-links-open-premium-topic
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

chore: cleanup conflict leftovers
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): remove custom template reference from docfx configuration
  custom-template/conceptual.html.primary.tmpl
  en/docfx.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore: remove custom template reference from docfx configuration for jp
  jp/docfx.json
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(button): apply comment fix
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/button.md
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.11.22.1
  en/components/charts/chart-overview.md
  en/components/charts/features/chart-animations.md
  en/components/charts/features/chart-data-aggregations.md
  en/components/charts/features/chart-data-annotations.md
  en/components/charts/features/chart-data-legend.md
  en/components/charts/features/chart-data-selection.md
  en/components/charts/features/chart-data-tooltip.md
  en/components/charts/features/chart-highlighting.md
  en/components/charts/features/chart-performance.md
  en/components/charts/features/chart-trendlines.md
  en/components/charts/features/chart-user-annotations.md
  en/components/charts/types/area-chart.md
  en/components/charts/types/stock-chart.md
  en/components/charts/types/treemap-chart.md
  en/components/dashboard-tile.md
  en/components/excel-library-using-worksheets.md
  en/components/excel-library-working-with-charts.md
  en/components/general-changelog-dv.md
  en/components/geo-map-binding-shp-file.md
  en/components/geo-map-display-azure-imagery.md
  en/components/geo-map-display-bing-imagery.md
  en/components/geo-map-shape-files-reference.md
  en/components/geo-map-type-scatter-density-series.md
  en/components/geo-map.md
  en/components/inputs/color-editor.md
  en/components/interactivity/accessibility-compliance.md
  en/components/menus/toolbar.md
  en/components/spreadsheet-chart-adapter.md
  en/images/charts/data-chart-user-annotation-create.gif
  en/images/charts/data-chart-user-annotation-delete.gif
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.11.22.2
  en/components/charts/chart-overview.md
  en/components/charts/features/chart-animations.md
  en/components/charts/features/chart-data-aggregations.md
  en/components/charts/features/chart-data-annotations.md
  en/components/charts/features/chart-data-legend.md
  en/components/charts/features/chart-data-tooltip.md
  en/components/charts/features/chart-performance.md
  en/components/charts/features/chart-tooltips.md
  en/components/charts/features/chart-trendlines.md
  en/components/charts/features/chart-user-annotations.md
  en/components/charts/types/area-chart.md
  en/components/charts/types/data-pie-chart.md
  en/components/charts/types/pie-chart.md
  en/components/charts/types/stock-chart.md
  en/components/dashboard-tile.md
  en/components/excel-library-using-worksheets.md
  en/components/excel-library-working-with-charts.md
  en/components/excel-library.md
  en/components/excel-utility.md
  en/components/general-changelog-dv.md
  en/components/geo-map-binding-shp-file.md
  en/components/geo-map-display-azure-imagery.md
  en/components/geo-map-display-bing-imagery.md
  en/components/geo-map-navigation.md
  en/components/geo-map-shape-files-reference.md
  en/components/geo-map-type-scatter-density-series.md
  en/components/geo-map.md
  en/components/inputs/color-editor.md
  en/components/interactivity/accessibility-compliance.md
  en/components/menus/toolbar.md
  en/images/charts/data-chart-user-annotation-create.gif
  en/images/charts/data-chart-user-annotation-delete.gif
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): add-comparison-table
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): add-oss-table-jp
  jp/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): add-oss-premium-png
  en/images/open-source-text.png
  en/images/premium-text.png
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): add-oss-premium-images-in-topic
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): add-maes-for-jp
  en/components/general/open-source-vs-premium.md
  jp/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): fix-cspell-error
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): fix-linting-error
  en/components/general/open-source-vs-premium.md
  jp/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix: jp-oss-dockmanager-link
  jp/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

change lint rules and exported xplat-docs
  .markdownlint.json
  en/components/bullet-graph.md
  en/components/charts/chart-api.md
  en/components/charts/features/chart-axis-types.md
  en/components/charts/features/chart-performance.md
  en/components/charts/features/chart-tooltips.md
  en/components/charts/types/area-chart.md
  en/components/charts/types/column-chart.md
  en/components/general-changelog-dv.md
  en/components/geo-map-display-azure-imagery.md
  en/components/geo-map-shape-files-reference.md
  en/components/geo-map.md
  en/components/inputs/color-editor.md
  en/components/interactivity/accessibility-compliance.md
  en/components/linear-gauge.md
  en/components/menus/toolbar.md
  jp/components/interactivity/accessibility-compliance.md
  kr/components/geo-map-shape-files-reference.md
  kr/components/themes/examples.md
  kr/components/themes/theming-demo.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

change lint rules
  .markdownlint.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.11.24.1
  en/images/code-sandbox-seeklogo.com.svg
Due: azure-pipelines/azure-pipelines-en.yml

Update cspell.json
  cspell.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Add toolbar premium and User Annotation topic
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

Remove toolbar from open source
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-EN_2025.11.26.1
  en/images/code-sandbox-seeklogo.com.svg
Due: azure-pipelines/azure-pipelines-en.yml

chore(csv-exporter): Increasing the height of the sample
  en/components/exporter-csv.md
  jp/components/exporter-csv.md
  kr/components/exporter-csv.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): more topics localization and fixes
  jp/components/angular-reactive-form-validation.md
  jp/components/avatar.md
  jp/components/badge.md
  jp/components/button-group.md
  jp/components/button.md
  jp/components/calendar.md
  jp/components/carousel.md
  jp/components/checkbox.md
  jp/components/combo.md
  jp/components/expansion-panel.md
  jp/components/general/open-source-vs-premium.md
  jp/components/grid-lite/binding.md
  jp/components/grid-lite/cell-template.md
  jp/components/grid-lite/column-configuration.md
  jp/components/grid-lite/filtering.md
  jp/components/icon-button.md
  jp/components/icon.md
  jp/components/list.md
  jp/components/navbar.md
  jp/components/query-builder.md
  jp/components/radio-button.md
  jp/components/select.md
  jp/components/slider/slider.md
  jp/components/snackbar.md
  jp/components/splitter.md
  jp/components/stepper.md
  jp/components/tabbar.md
  jp/components/tabs.md
  jp/components/toast.md
  jp/components/toc.yml
  jp/components/tooltip.md
  jp/components/tree.md
  jp/images/open-source-text.png
  jp/images/premium-text.png
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(*): fixing links
  jp/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(lint): resolving lint issue
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(toc): temporarily remove chart user annotations entry from table of contents - vnext
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(toc): temporarily remove chart user annotations entry from JA toc
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(Chat): Updated the topic to reflect latest changes
  en/components/chat.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): change-toolbar-license
  en/components/menus/toolbar.md
  jp/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Update en/components/chat.md
  en/components/chat.md
Due: azure-pipelines/azure-pipelines-en.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en
