Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

azure-pipelines/azure-pipelines-en.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Build Job
      pool:
        vmImage: windows-latest
      steps:
      - checkout: self
        clean: true
        fetchTags: true
  ...

azure-pipelines/azure-pipelines-jp-kr.yml:
  name: $(BuildDefinitionName)_$(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Build Job
      pool:
        name: BuildAgentOnPrem
      steps:
      - checkout: self
        clean: true
        fetchTags: true
  ...

docs(samples): add new design system samples text
  en/components/button.md
  en/components/card.md
  en/components/checkbox.md
  en/components/chip.md
  en/components/radio-button.md
  en/components/switch.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.7.16.1
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.7.16.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(avatar): remove html from url
  en/components/avatar.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(docs): updating getting started to standalone
  en/components/general/getting-started.md
  en/images/general/igniteui-project.png
Due: azure-pipelines/azure-pipelines-en.yml

feat(docs): remove download cta actions in EN version - vnext
  en/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): update template version
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.7.23.1
  jp/components/general-changelog-dv.md
  jp/components/geo-map-display-bing-imagery.md
  jp/components/geo-map.md
  jp/images/general/BingMapsImagery.png
  jp/images/general/BingMapsImagery2.png
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.7.23.1
  en/components/general-changelog-dv.md
  en/components/geo-map-display-bing-imagery.md
  en/components/geo-map.md
  en/images/general/BingMapsImagery.png
  en/images/general/BingMapsImagery2.png
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.7.23.1
  kr/components/geo-map-display-bing-imagery.md
  kr/components/geo-map.md
  kr/images/general/BingMapsImagery.png
  kr/images/general/BingMapsImagery2.png
Due: azure-pipelines/azure-pipelines-jp-kr.yml

feat(tailwind): make code-view bigger
  en/components/themes/misc/tailwind-classes.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): bump igniteui-docfx-template to 3.9.4
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.7.25.1
  en/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.7.25.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.8.6.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(tailwind): update tailwind docs as now styling components is possible
  en/components/themes/misc/tailwind-classes.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(styling): update styling docs for tailwind
  en/components/avatar.md
  en/components/badge.md
  en/components/button-group.md
  en/components/button.md
  en/components/calendar.md
  en/components/card.md
  en/components/checkbox.md
  en/components/chip.md
  en/components/tabbar.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(spacing): add documentation around spacing
  en/components/.DS_Store
  en/components/display-density.md
  en/components/grids_templates/sizing.md
  en/components/themes/.DS_Store
  en/components/themes/sass/.DS_Store
  en/components/themes/spacing.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

refactor(spacing): update topic with references
  en/components/themes/spacing.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/themes/spacing.md
  en/components/themes/spacing.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/display-density.md
  en/components/display-density.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(styling): update calendar and input samples
  en/components/calendar.md
  en/components/input-group.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.8.13.1
  jp/components/general-changelog-dv.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en
