Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

fix(grid-lite): fixing wrong links
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): add-description-for-oss-page
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(grid-lite): final docs version
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
  en/components/grid-lite/overview.md
  en/components/grid-lite/sorting.md
  en/components/grid-lite/theming.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(template): updating to latest template for licensing info
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): add-oss-vs-premium-page
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

fix(*): solving lint errors
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
  en/components/grid-lite/sorting.md
  en/components/grid-lite/theming.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(grid-lite): adding preliminary grid lite docs (#6255)
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
  en/components/grid-lite/overview.md
  en/components/grid-lite/sorting.md
  en/components/grid-lite/theming.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): add-oss-topic-to-toc
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): add-license-charts
  en/components/charts/types/area-chart.md
  en/components/charts/types/bar-chart.md
  en/components/charts/types/bubble-chart.md
  en/components/charts/types/column-chart.md
  en/components/charts/types/composite-chart.md
  en/components/charts/types/data-pie-chart.md
  en/components/charts/types/donut-chart.md
  en/components/charts/types/line-chart.md
  en/components/charts/types/pie-chart.md
  en/components/charts/types/point-chart.md
  en/components/charts/types/polar-chart.md
  en/components/charts/types/radial-chart.md
  en/components/charts/types/scatter-chart.md
  en/components/charts/types/shape-chart.md
  en/components/charts/types/sparkline-chart.md
  en/components/charts/types/spline-chart.md
  en/components/charts/types/stacked-chart.md
  en/components/charts/types/step-chart.md
  en/components/charts/types/stock-chart.md
  en/components/charts/types/treemap-chart.md
  package-lock.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(gulp): removing leading comments for new markdown lint
  gulpfile.js
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): add-open-source-vs-premium-topik
  jp/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-to-angular-docs-JP+KR_2025.11.19.1
  jp/components/charts/features/chart-data-annotations.md
  jp/components/excel-library-working-with-sparklines.md
  jp/components/excel-library.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): add-open-source-toc
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

fix(*): resolving linting errors
  en/components/grids_templates/advanced-filtering.md
  en/components/grids_templates/cell-editing.md
  en/components/grids_templates/cell-selection.md
  en/components/grids_templates/clipboard-interactions.md
  en/components/grids_templates/collapsible-column-groups.md
  en/components/grids_templates/column-hiding.md
  en/components/grids_templates/column-moving.md
  en/components/grids_templates/column-pinning.md
  en/components/grids_templates/column-resizing.md
  en/components/grids_templates/column-selection.md
  en/components/grids_templates/column-types.md
  en/components/grids_templates/conditional-cell-styling.md
  en/components/grids_templates/display-density.md
  en/components/grids_templates/editing.md
  en/components/grids_templates/excel-style-filtering.md
  en/components/grids_templates/export-excel.md
  en/components/grids_templates/filtering.md
  en/components/grids_templates/keyboard-navigation.md
  en/components/grids_templates/live-data.md
  en/components/grids_templates/multi-column-headers.md
  en/components/grids_templates/paging.md
  en/components/grids_templates/remote-data-operations.md
  en/components/grids_templates/row-adding.md
  en/components/grids_templates/row-drag.md
  en/components/grids_templates/row-editing.md
  en/components/grids_templates/row-pinning.md
  en/components/grids_templates/row-selection.md
  en/components/grids_templates/search.md
  en/components/grids_templates/selection.md
  en/components/grids_templates/sizing.md
  en/components/grids_templates/sorting.md
  en/components/grids_templates/state-persistence.md
  en/components/grids_templates/summaries.md
  en/components/grids_templates/toolbar.md
  en/components/grids_templates/virtualization.md
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(*): fixing more linting errors
  en/components/charts/types/stock-chart.md
  en/components/general/open-source-vs-premium.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(button): format text
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(button): update the styling section
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(*): adding premium tags for all grids
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

chore(button): fix lint errors
  en/components/button.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(*): adding more premium tags
  en/components/general/open-source-vs-premium.md
  en/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): update-grid-lite-topics
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
  en/components/grid-lite/overview.md
  en/components/grid-lite/sorting.md
  en/components/grid-lite/theming.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): wording-change
  en/components/grid-lite/overview.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(*): updating template, fixing lint, changing order
  en/components/grid-lite/overview.md
  en/components/toc.yml
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

docs(column-pinning): add section on pinning columns on both sides
  en/components/grids_templates/column-pinning.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/grids_templates/column-pinning.md
  en/components/grids_templates/column-pinning.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): titles-ap-style-marketing
  en/components/grid-lite/binding.md
  en/components/grid-lite/cell-template.md
  en/components/grid-lite/column-configuration.md
  en/components/grid-lite/filtering.md
  en/components/grid-lite/header-template.md
  en/components/grid-lite/sorting.md
  en/components/grid-lite/theming.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(column-pinning): fix typo
  en/components/grids_templates/column-pinning.md
Due: azure-pipelines/azure-pipelines-en.yml

feat: add custom template for new-tab behavior and update docfx configurations
  custom-template/conceptual.html.primary.tmpl
  en/components/general/open-source-vs-premium.md
  en/docfx.json
  jp/docfx.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

refactor: streamline new-tab behavior implementation and enhance security checks
  custom-template/conceptual.html.primary.tmpl
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml
