Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

docs(query-builder): fix code-snippets in Sub-Query section
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(query-builder): add SQL Example section
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.3.12.3
  en/components/charts/features/chart-data-selection.md
  en/components/general-changelog-dv.md
  en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.3.12.4
  en/components/charts/features/chart-data-selection.md
  en/components/general-changelog-dv.md
  en/components/menus/toolbar.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): address PR comments
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(carousel): align configuration section with WC
  en/components/carousel.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(list): update list documentation with the new "selected" property
  en/components/list.md
  en/components/themes/palettes.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): remove unnecessary section
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/query-builder-model.md
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): update JA for #6080
  jp/components/carousel.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.3.19.1
  jp/components/charts/features/chart-data-selection.md
  jp/components/general-changelog-dv.md
  jp/components/menus/toolbar.md
  jp/images/tile-manager-actions.png
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.3.19.1
  en/images/dockmanager-document-host-docking.jpg
  en/images/dockmanager-pane-docking.jpg
  en/images/dockmanager-root-docking.jpg
  en/images/dockmanager-splitter-docking.jpg
  en/images/tile-manager-actions.png
Due: azure-pipelines/azure-pipelines-en.yml

docs(list): fix comments
  en/components/list.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): add Request data from an Endpoint section
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): update sections
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): change QB overview sample
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): add overview sample alt
  en/components/query-builder.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(query-builder): update JA sample
  jp/components/query-builder.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

feat(query-builder): update text and code snippets
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2025.3.26.1
  jp/components/charts/types/data-pie-chart.md
  jp/images/dockmanager-document-host-docking.jpg
  jp/images/dockmanager-pane-docking.jpg
  jp/images/dockmanager-root-docking.jpg
  jp/images/dockmanager-splitter-docking.jpg
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2025.3.26.1
  en/components/charts/types/data-pie-chart.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(*): Add Tile Manager topic
  en/components/tile-manager.md
  en/components/toc.yml
  jp/components/toc.yml
  package-lock.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

fix(TileManager): Add custom schema to topic
  en/components/tile-manager.md
Due: azure-pipelines/azure-pipelines-en.yml

chore(*): changing snippet to assume standalone
  en/components/tile-manager.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): JA - Tile Manager topic localization #6091
  jp/components/tile-manager.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(query-builder): add requested changes
  en/components/query-builder-model.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): Updating JA for #6072 and #6093
  jp/components/list.md
  jp/components/query-builder-model.md
  jp/components/themes/palettes.md
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): updating JA for #6081
  jp/components/list.md
  jp/components/themes/palettes.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): updating JA to match EN content - master
  jp/components/charts/features/chart-data-selection.md
  jp/components/general-changelog-dv.md
  jp/components/menus/toolbar.md
  jp/components/query-builder.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(circular-progress): update theme parameter names
  en/components/circular-progress.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(palette): update contrast color docs
  en/components/themes/misc/angular-material-theming.md
  en/components/themes/palettes.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/themes/misc/angular-material-theming.md
  en/components/themes/misc/angular-material-theming.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/themes/palettes.md
  en/components/themes/palettes.md
Due: azure-pipelines/azure-pipelines-en.yml
