Repository IgniteUI/igniteui-docfx: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Path conditions:
  azure-pipelines/azure-pipelines-en.yml: any file but: **/jp, **/kr
  azure-pipelines/azure-pipelines-jp-kr.yml: any file but: **/en

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.10.23.2
  jp/components/charts/features/chart-performance.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): Add notes on new state persistance changes.
  en/components/grids_templates/state-persistence.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(carousel): update topic with new properties
  en/components/carousel.md
Due: azure-pipelines/azure-pipelines-en.yml

feat(*): update topics with new fr related to input formats
  en/components/date-picker.md
  en/components/date-range-picker.md
  en/components/date-time-editor.md
  en/components/grids_templates/editing.md
  en/components/time-picker.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.10.30.2
  jp/components/charts/features/chart-performance.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): updating dependencies
  package-lock.json
  package.json
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): update JA for #5984
  jp/components/date-picker.md
  jp/components/date-range-picker.md
  jp/components/date-time-editor.md
  jp/components/grids_templates/editing.md
  jp/components/time-picker.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(navigation-drawer): remove nav tag since it is added from the component itself
  en/components/navdrawer.md
  jp/components/navdrawer.md
  kr/components/navdrawer.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

docs(toast/snackbar): remove overlaySettings sections
  en/components/snackbar.md
  en/components/toast.md
Due: azure-pipelines/azure-pipelines-en.yml

Update en/components/snackbar.md
  en/components/snackbar.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.11.6.2
  en/components/charts/features/chart-navigation.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.11.6.2
  jp/components/charts/features/chart-performance.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(*): Update JA for #5983
  jp/components/carousel.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.11.13.2
  jp/components/charts/features/chart-navigation.md
  jp/components/charts/features/chart-performance.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.11.13.2
  en/components/charts/features/chart-navigation.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): Updating Snackbar and Toast topics - #5990.
  jp/components/snackbar.md
  jp/components/toast.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.11.20.2
  jp/components/charts/features/chart-navigation.md
  jp/components/charts/features/chart-performance.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.11.20.2
  en/components/charts/features/chart-navigation.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(chip): remove duplicated dragging section
  en/components/chip.md
  jp/components/chip.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

doc(ng-sa): Adding info about default standalone components.
  en/components/general/how-to/how-to-use-standalone-components.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(ng-sa): Removing duplicate sentence.
  en/components/general/how-to/how-to-use-standalone-components.md
Due: azure-pipelines/azure-pipelines-en.yml

doc(ng-sa): Adding info about default standalone components. (#6001)
  en/components/general/how-to/how-to-use-standalone-components.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): Updating JA for #6001
  jp/components/general/how-to/how-to-use-standalone-components.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(summaries): enhance summaries topics with disabledSummaries examples
  en/components/grids_templates/summaries.md
Due: azure-pipelines/azure-pipelines-en.yml

Update angular SSR topic
  en/components/general/ssr-rendering.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(combo): update single selection code snippet
  en/components/combo.md
  jp/components/combo.md
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Add info about icon service
  en/components/general/ssr-rendering.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.11.27.2
  en/components/charts/features/chart-navigation.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.11.27.2
  jp/components/charts/features/chart-navigation.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

docs(summaries): add new disable summaries section
  en/components/grids_templates/summaries.md
Due: azure-pipelines/azure-pipelines-en.yml

docs(*): update JA summaries topic #6003
  jp/components/grids_templates/summaries.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

chore(*): Show mrl only for base grid.
  en/components/grids_templates/state-persistence.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.12.4.2
  en/components/charts/features/chart-navigation.md
Due: azure-pipelines/azure-pipelines-en.yml

Adding changes from build igniteui-xplat-docs-make-pr-JP+KR_2024.12.4.2
  jp/components/charts/features/chart-navigation.md
Due: azure-pipelines/azure-pipelines-jp-kr.yml

Re-add data pie chart to TOC
  en/components/toc.yml
  jp/components/toc.yml
Due: azure-pipelines/azure-pipelines-en.yml, azure-pipelines/azure-pipelines-jp-kr.yml

Adding changes from build igniteui-xplat-docs-make-pr_2024.12.11.1
  en/components/menus/toolbar.md
  en/images/color-editor.png
Due: azure-pipelines/azure-pipelines-en.yml
